.keyAction {
  min-width: 100px;
}

.detail {
  text-align: center;
  color: gray;
}

@media screen and (max-width: 500px) {
  .artboard {
    max-width: 300px;
    max-height: 300px;
  }
}

.artboardControls {
  max-width: 600px;
  margin: auto;
}
