.header {
  height: rem(56px);
  margin-bottom: rem(10px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-xl);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}

.dropdown {
  position: absolute;
  top: 48px;
  left: 8px;
  font-size: 24px !important;
  /* right: 50px; */
  z-index: 9999;
  /* borderTopRightRadius: 0,
  borderTopLeftRadius: 0,
  borderTopWidth: 0,
  overflow: 'hidden',

  [theme.fn.largerThan('sm')]: {
    display: 'none',
  }, */
}
