body {
  background-color: var(--mantine-color-gray-3) !important;
  font-family: 'Tektur', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

.panel button.mantine-Button-root {
  margin: 8px;
  padding: 8px;
}

.mantine-Radio-body {
  margin: 4px;
}

.mainContent {
  max-width: 600px;
  margin: auto;
}

.panel {
  background: #ccc;
  border-radius: 6px;
  padding: 8px;
  margin: 8px;
  text-align: center;
}

.basic {
  background: #ccc;
}

.artboard {
  max-width: 500px;
  max-height: 500px;
  width: 85%;
  /* width: 100%;
  height: 100%; */
  /* aspect-ratio: 1 / 1; */

  color: gray;
  /* background-color: white; */
  /* background-color: #22aa22; */

  text-align: center;
  margin: 8px auto;
  padding: 0px !important;
}

.artboardImage {
  /* width: 100%;
  height: 100%; */
  aspect-ratio: 1 / 1;
  background-color: white;
  margin: 0 24px;
}

.mantine-ColorPicker-wrapper {
  margin: 8px auto;
}
.mantine-NumberInput-root {
  margin: 8px;
}

.mantine-Slider-root {
  margin: 8px 16px 24px;
  display: block;
}

img.artwork {
  background-color: white;
  margin-bottom: 0.5rem;
}
