body {
  background-color: var(--mantine-color-gray-3) !important;
}

button.mantine-Button-root {
  margin: 16px;
}

.mantine-Radio-body {
  margin: 8px;
}

.mainContent {
  max-width: 600px;
  margin: auto;
}

.panel {
  background: #ccc;
  border-radius: 6px;
  padding: 8px;
  margin: 8px;
  text-align: center;
}

.artboard {
  max-width: 500px;
  max-height: 500px;

  color: gray;
  background-color: white;
  text-align: center;
  margin: 24px auto;
}

.artboardImage {
  width: 100%;
  height: 100%;
}

.mantine-ColorPicker-wrapper {
  margin: 8px auto;
}
.mantine-NumberInput-root {
  margin: 8px;
}

.mantine-Slider-root {
  margin: 8px 16px 24px;
  display: block;
}
