.button {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.menuControl {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border: 0;
  border-left: rem(1px) solid var(--mantine-color-body);
}
